.featured-container {
  width: 400px; height: 400px; 
  margin: 30px auto; overflow: hidden;
  padding: 0;
}
.images-wrapper {
  width: 1200px; animation: move 20s infinite;
}
.featured-image {
  width: 400px; height: 400px; float: left;
}
@keyframes move {
  0%, 30% { margin-left: 0px; }
  60%, 90% { margin-left: -1200px; }
  100% { margin-left: -1200px; }
}