body {
  margin: 0;
  padding-top: 60px;
}

#root {
  margin: 0;
  padding: 0;
}
.sub-session {
  display: flex;
  gap: 20px;
  margin-top: 20px
}

.travel-post-container,
.credit-card-post-container {
  flex: 1;    
  border: 1px solid black;
  padding: 16px;
}
